<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
<h1>ABOUT US</h1>

<h3>Courses</h3>
<p>We offer undergraduate courses such as business management, journalism, Information Technology courses, masters and PhD programmes. We also provide online programs for students who can't access the school physically</p>
<h3>Location</h3>
<p>Our main campus is located at Githurai town in Kiambu county. We also have 2 more branches, one at Kariobangi in Nairobi county and the other at Naivasha, Nakuru county</p>
<h3>History</h3>
<p>Our institution was founded in 1990 by famous business man Donald Davenport Kamau together with his brother Douglas Davenport Kamau</p>

</body>
</html>